a.post-card {
  text-decoration: none;
  color: black; //override-uje linkov styling za sve active itd
  display: flex;
  flex-direction: column;
  place-content: space-evenly; //za placing texta
  font-size: xx-large;
  text-align: center;
  gap: 16px;
  margin-top: 16px;
  border-radius: 5px;
  height: 80px;
  width: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow ease 0.5s;
}
a.post-card:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
}
