@import "./components/NavBar/navbar";
@import "./pages/Home/home";
@import "./pages/Posts/posts";
@import "./pages/Users/users";
@import "./components/SingleUser/singleuser";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
